.sort-buttons {
  width: 152px;
  padding: 35px 20px;
  background-color: #bdbdbd;

  button {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    background-color: #4b51ef;
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

.sort-title {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}
